@import url(https://fonts.bunny.net/css?family=almarai:300,400,700,800);
@import 'variables';
@import 'bootstrap/scss/bootstrap';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

// Your global styles
body {
    font-family: 'Almarai', sans-serif;
  }